@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@font-face{
	font-family:"Fedora";
	src:url(fonts/Comfortaa-Bold.ttf), url(fonts/Comfortaa-Bold.eot), url(fonts/Comfortaa-Bold.otf);
}
.letrabase{
	font-family:"Fedora";
}
h1{
	color:#FFF;
}
