@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@font-face{
	font-family:"Comfortaa";
	src:url(fonts/comfortaa.ttf), src:url(fonts/comfortaa.eot), src:url(fonts/comfortaa.otf);
}

.titulo{
	font-family:"Comfortaa";
}
*{
	padding: 0;
	margin: 0;
}

p, h1, h2, h3, h4, h5, h6, span, a{
	font-family: 'Roboto Condensed', sans-serif;
}

h1, a, a:hover, a:visited{
	color: #FFF;
}

nav{
	padding-left: 50px;
}

.info{
	text-align: justify;
}
